:host {
  display: inline-block;
  contain: content;
  width: var(--dfx-input-width);

  --dfx-input-border-radius: var(--dfx-border-radius-m, 0.375rem);
  --dfx-input-color-background: var(--dfx-color-background-light, #ffffff);
  --dfx-input-color-text: var(--dfx-color-text-dark, #383d46);
  --dfx-input-font-family: var(
    --dfx-font-family,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Arial,
    sans-serif
  );
  --dfx-input-font-size: var(--dfx-font-size-m, 0.875rem);
  --dfx-input-gap: calc(var(--dfx-size-xs, 0.75rem) / 2);
  --dfx-input-height: calc(var(--dfx-input-icon-size) + 2 * var(--dfx-input-padding));
  --dfx-input-icon-size: var(--dfx-size-xl, 1.5rem);
  --dfx-input-padding: calc(var(--dfx-size-xs, 0.75rem) / 2);
  --dfx-input-text-align: start;
  --dfx-input-transition: all var(--dfx-transition-medium, 0.2s ease-in-out);
  --dfx-input-width: calc(var(--dfx-size-3xl, 2.5rem) * 5);
}

:host([hidden]) {
  display: none;
}

:host([disabled]) [part='container'] {
  --dfx-input-color-background: var(--dfx-color-background-light-variant, #f0f2f4);
  --dfx-input-color-text: var(--dfx-color-text-light, #676f7d);
  opacity: var(--dfx-form-disabled-opacity, 0.5);
}

:host([disabled]) [part='control'] {
  cursor: not-allowed;
}

:host([disabled]) input {
  pointer-events: none;
}

[part='container'] {
  display: grid;
  gap: calc(var(--dfx-input-gap) + var(--dfx-size-4xs, 0.125rem));
}

[part='control'] {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: var(--dfx-input-height);
  padding: var(--dfx-input-padding);
  font-family: var(--dfx-input-font-family);
  border-radius: var(--dfx-input-border-radius);
  box-shadow: var(--dfx-form-border, inset 0 0 0 0.05rem #979fab);
  background-color: var(--dfx-input-color-background);
  transition: var(--dfx-input-transition);
  border: none;
  margin: 0;
}

:host(:not([disabled])) :not(.invalid) [part='control']:has(:focus, :active) {
  box-shadow: var(--dfx-form-border-active, inset 0 0 0 0.05rem #20242c);
}

.invalid [part='control'] {
  box-shadow: var(--dfx-form-border-error, inset 0 0 0 0.05rem #c91f3a);
}

.invalid [part='control']:has(:focus, :active) {
  box-shadow: var(--dfx-form-border-error-active, inset 0 0 0 0.1rem #c91f3a);
}

input {
  width: 100%;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  padding-inline: var(--dfx-input-gap);
  color: var(--dfx-input-color-text);
  font-family: var(--dfx-input-font-family);
  font-size: var(--dfx-input-font-size);
  text-align: var(--dfx-input-text-align);
  background-color: transparent;

  &::placeholder {
    color: var(--dfx-color-text-dark-variant, #20242c);
    opacity: var(--dfx-form-disabled-opacity, 0.5);
  }
}

input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='time'],
input[type='week'] {
  padding-right: calc(var(--dfx-input-gap) / 2);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input[type='number'] {
  --dfx-input-text-align: center;
  appearance: textfield;
}

::slotted(*) {
  box-sizing: border-box;
  color: var(--dfx-color-text-light, #676f7d);
  font-size: var(--dfx-input-font-size);
}

::slotted(span[slot='start']) {
  padding-left: var(--dfx-input-gap);
}

::slotted(span[slot='end']) {
  padding-right: var(--dfx-input-gap);
}

::slotted(svg) {
  box-sizing: border-box;
  width: var(--dfx-input-icon-size);
  height: var(--dfx-input-icon-size);
  padding: var(--dfx-size-4xs, 0.125rem);
}

::slotted(dfx-button),
dfx-button {
  --dfx-button-height: var(--dfx-input-icon-size);
  --dfx-button-padding: var(--dfx-size-4xs, 0.125rem);
  --dfx-button-focus-offset: calc(var(--dfx-form-outline-offset, 0.2rem) / 2);
  --dfx-button-scale-active: 1;
}

dfx-spinner {
  --dfx-spinner-color: var(--dfx-color-text-light, #676f7d);
  --dfx-spinner-size: var(--dfx-input-icon-size);
  --dfx-spinner-padding: var(--dfx-size-4xs, 0.125rem);
}
