:host {
  display: inline-block;
  contain: content;
  width: var(--dfx-textarea-width);

  --dfx-textarea-border-radius: var(--dfx-border-radius-m, 0.375rem);
  --dfx-textarea-color-background: var(--dfx-color-background-light, #ffffff);
  --dfx-textarea-color-text: var(--dfx-color-text-dark, #383d46);
  --dfx-textarea-font-family: var(
    --dfx-font-family,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Arial,
    sans-serif
  );
  --dfx-textarea-font-size: var(--dfx-font-size-m, 0.875rem);
  --dfx-textarea-gap: var(--dfx-size-2xs, 0.5rem);
  --dfx-textarea-height: auto;
  --dfx-textarea-line-height: var(--dfx-line-height-m, 1.5);
  --dfx-textarea-padding: var(--dfx-size-2xs, 0.5rem) var(--dfx-size-xs, 0.75rem);
  --dfx-textarea-transition: all var(--dfx-transition-medium, 0.2s ease-in-out);
  --dfx-textarea-width: calc(var(--dfx-size-3xl, 2.5rem) * 5);
}

:host([hidden]) {
  display: none;
}

:host([disabled]) [part='container'] {
  --dfx-textarea-color-background: var(--dfx-color-background-light-variant, #f0f2f4);
  --dfx-textarea-color-text: var(--dfx-color-text-light, #676f7d);
  opacity: var(--dfx-form-disabled-opacity, 0.5);
  cursor: not-allowed;
}

:host([disabled]) textarea {
  pointer-events: none;
}

[part='container'] {
  display: grid;
  gap: var(--dfx-textarea-gap);
}

textarea {
  width: 100%;
  box-sizing: border-box;
  height: var(--dfx-textarea-height);
  padding: var(--dfx-textarea-padding);
  font-family: var(--dfx-textarea-font-family);
  color: var(--dfx-textarea-color-text);
  font-size: var(--dfx-textarea-font-size);
  line-height: var(--dfx-textarea-line-height);
  background-color: var(--dfx-textarea-color-background);
  border-radius: var(--dfx-textarea-border-radius);
  box-shadow: var(--dfx-form-border, inset 0 0 0 0.05rem #979fab);
  transition: var(--dfx-textarea-transition);
  resize: vertical;
  border: none;
  outline: 0;
  margin: 0;

  &:focus-visible {
    box-shadow: var(--dfx-form-border-active, inset 0 0 0 0.05rem #20242c);
  }

  &::placeholder {
    color: var(--dfx-color-text-dark-variant, #20242c);
    opacity: var(--dfx-form-disabled-opacity, 0.5);
  }
}

.invalid textarea {
  box-shadow: var(--dfx-form-border-error, inset 0 0 0 0.05rem #c91f3a);
}

.invalid textarea:focus-visible {
  box-shadow: var(--dfx-form-border-error-active, inset 0 0 0 0.1rem #c91f3a);
}

::-webkit-resizer {
  background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path d="M7 18L18 7M13 18L18 13" stroke="%239ca3af" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.description {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--dfx-textarea-gap);

  #character-count {
    grid-column: 2;
  }
}
